@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
        /* Start at the initial position */
    }
    100% {
        transform: translateX(-100%);
        /* Move to the left end */
    }
}

@keyframes changeColor {
    0% {
        background-color: #ff0000;
        /* Red */
    }
    25% {
        background-color: #00ff00;
        /* Green */
    }
    50% {
        background-color: #03a7cc;
        /* Blue */
    }
    75% {
        background-color: #ffff00;
        /* Yellow */
    }
    100% {
        background-color: #8b0534;
        /* Back to Red */
    }

}
